*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.cv{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 200px 1fr 1fr;
    width: 700px;
    height: 950px;
    margin: 10px auto;
}

.cv-header{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid goldenrod;
    border-right: 2px solid goldenrod;
    border-left: 2px solid goldenrod;
    border-radius: 3px;
    position: relative;
    grid-column: 1/3;
}

.cv-header .header-nombres{
    text-align: center;
    font-family: sans-serif;
}

.header-nombres h1{
    font-size: 40px;
}

.header-nombres h2{
    font-size: 20px;
}

.cv-header .header-datos{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.cv-header::before{
    content: "PUESTO OCUPADO / BUSCADO";
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    padding: 10px 0px 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(20px);
    margin-left: 148px;
    color: goldenrod;
    background-color: rgb(255, 255, 255);
}

.cv-experiencia{
    grid-column: 1/2;
    grid-row: 2/3;
    border-top: 2px solid goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cv-experiencia h3{
    font-family: sans-serif;
    margin:60px 0 0 55px; 
}

.cv-experiencia .experiencia-datos{
    width: 390px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 55px;
    gap: 10px;
}

.experiencia-datos .experiencia-fecha{
    width: 80px;
    height: 100%;
}

.experiencia-fecha p{
    color: goldenrod;
}

.experiencia-datos .experiencia-cuerpo{
    width: 310px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.experiencia-cuerpo h4{
    font-family: sans-serif;
    font-size: 20px;
}

.cv-estudios{
    grid-column: 1;
    grid-row: 3/4;
}

.cv-estudios h3{
    margin:20px 0 0 50px; 
}

.cv-estudios .estudios-datos{
    width: 390px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 45px;
    gap: 10px;
}

.estudios-datos .estudios-fecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 230px;
    height: 100%;
}

.estudios-fecha p{
    color: goldenrod;
}

.estudios-datos .estudios-cuerpo{
    width: 310px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mas-info{
    grid-column: 2/3;
    grid-row: 2/4;
    border-top: 2px solid goldenrod;
    border-left: 2px solid goldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mas-info h3{
    margin: 5px 0;
}

.mas-info .informacion-referencias{
    width: 100%;
    margin-left: 80px;
}

.mas-info .referencia{
    margin-top: 10px;
}